@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-tittle, .facts{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700px;
     

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500px;

}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{

    color: #131313;
    font-size: 4rem;
    font-weight: 700;
      

}
.banner-descripton{
    color: #727272;

}
.btn{
    color: #FFF;
    font-size: 1.5rem;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;

}
.banner img{
    margin-top: 20px;
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 70px auto;
}
.team-container{
    display: flex;
    align-items: center;
    gap: 76px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
/* .team-content{ */

.team-tittle{
   font-size: 2.8rem;
   padding-right: 289px;

}
.quick{
    color: #727272;
    font-weight: 500px;

}
.our{
    color: #131313;
    font-weight: 700px;
}
.features{
    color: #FF900E;
    font-weight: 700px;
}
.text-light-gray{
    padding-right: 200px;
    color: #727272;
}
.facts-description{
    color: #727272;

}
.card-container{
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;  
}
.card{
    border: 2px solid #FF900E;
    border-radius: 5px;
    text-align: center;
}
.card-states{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px ;
}
.card-title{
    font-weight: 600;
  
    margin-top: 5px;
}
.sponsors{
    text-align: center;
}
.section-description{
   color: #727272;
}
.sponsor-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
}
.sponsor-img-container img{
    width: 165px;
    
}
.feature{
    display: flex;
    margin-top: 130px;
    gap: 100px; 
}

.feature-title{
    color: #131313;
    font-family: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
 }

 .feature-img img{
    margin-left: 100px;
}

/* .feature-description{
    color: #727272;
    font-weight: 400;
} */

.ten-years{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF; 
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    
    /* height: 100px; */
}

.ten-years h2{
    font-size: 4rem;
    margin: 0;
}

.ten-years p{
    font-size: 1.5rem;
}




.cards{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 0px rgba(0, 0, 0.06); 
}
 
/* .cards-1{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
} */

/* .cards-1-2{
    color: #727272;
    font-weight: 400;
} */

/* small device */
@media  screen and (max-width: 576px){
    .header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column;
    }
    .team-img-container{
       grid-template-columns: 1fr;

    }
    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .card-container{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px; 
    
    }
    .sponsor-img-container{
        flex-direction: column;
    }
    .ten-years{
        position: static;
        max-width: 300px;
    }


    .feature-img img{
        width: 90%;
        margin-left: 0;
    }

}
    
/* medium device */
@media screen and (min-width: 576px)
and (max-width: 960px){
    .header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column;
    
}  
.sponsor-img-container{
    flex-direction: column;
   

}

}
   
