@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-tittle{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700px;
     

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500px;

}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{

    color: #131313;
    font-size: 4rem;
    font-weight: 700;
      

}
.benner-description{
    color: #727272;

}
.btn{
    color: #FFF;
    font-size: 1.5rem;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;

}
.banner img{
    margin-top: 20px;
    width: 100%;
}
@media  screen and (max-width: 576px){
    .header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
@media screen and (min-width: 576px)
and (max-width: 960px){
    .header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    
}  
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-conrainer{
    display: flex;
    align-items: center;
    gap: 76px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.team-tittle{
   font-size: 2.8rem;
   padding-right: 360px;

}
.quick{
    color: #727272;
    font-weight: 500px;

}
.our{
    color: #131313;
    font-weight: 700px;
}
.features{
    color: #FF900E;
    font-weight: 700px;
}
.team-description{
    padding-right: 250px;
}
